.App {
  text-align: center;
  min-height: max-content;
  max-height: max-content;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.upload-child {
  width: 30%;
  height: 70%;
  display: inline-block;
  border: 2px dashed azure;
  margin: 5%;
  padding: 1rem 1rem;
  vertical-align: middle;
  color: azure;
}

.download-child {
  width: 30%;
  height: 70%;
  display: inline-block;
  border: 2px dashed azure;
  margin: 5%;
  padding: 1rem 1rem;
  vertical-align: middle;
  color: azure;
} 

hr{
  width: 80%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
